    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
                          <%= nav_helper 'nav-link', 'span' %>

              
              
                  <% if current_user %>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete 'nav-link'%>
                  <% else %>
                  <%= link_to "Register", new_user_registration_path 'nav-link'%>
                  <%= link_to "Login", new_user_session_path 'nav-link'%>
                  <% end %>
          
        </nav>
      </div>
    </div>
